body {
    background-image: url('background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.hat-top {
    height: 70px;
    width: 100px;
}

.hat {
    height: 2px;
    width: 200px;
    display: flex;
    justify-content: center;
}


.head {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eyes {
    display: flex;
}

.eye {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.left-eye {
    margin-right: 30px;
}

.nose {
    /* width: 70px;
    height: 20px;
    border-radius: 10px;
    transform: rotate(-50deg); */
    margin-top: 8px;
    margin-right: 40px;
}

.mouth {
    flex: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;
}

.mouth svg {
    width: 100px;
    height: 20px;
    z-index: 5;
    margin-top: 20px;
}

.body {
    width: 300px;
    height: 250px;
    border-radius: 150px;
    margin-top: -5px;
}

.snow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.flocon {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

/** colors **/

.black {
    background-color: black;
}

.white {
    border: 1px solid;
    background-color: white;
}

.white-no-border {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    border: 1px solid blue;
    background-color: white;
}


/** z-index **/

.hat, .hat-top, .eye, .nose {
    z-index: 3;
}

.mouth-mask, .head {
    z-index: 2;
}

.mouth, .mouth-inner, .body {
    z-index: 1;
}
